schemas/Student_Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs = "unbounded" name="student">
          <xs:complexType>
            <xs:sequence><!-- <xs:choice minOccurs = "4" maxOccurs="4"> -->
              <xs:element minOccurs = "1" name="name" type="xs:string" />
              <xs:element minOccurs = "1" name="age" type="xs:unsignedByte" />
              <xs:element minOccurs = "1" name="phone" type="xs:unsignedLong" />
              <xs:element minOccurs = "1" name="address">
                <xs:complexType>
                  <xs:sequence><!-- <xs:choice maxOccurs="3"> -->
                    <xs:element name="street" type="xs:string" />
                    <xs:element name="city" type="xs:string" />
                    <xs:element name="pincode" type="xs:unsignedInt" />
                  </xs:sequence><!-- </xs:choice> -->
                </xs:complexType>
              </xs:element>
            </xs:sequence><!-- </xs:choice> -->
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>